.speakers-section {
    padding: 5%;
    text-align: center;
}

.sepakers__title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(82, 117, 82);
    text-decoration: underline;
    font-weight: lighter;
    font-size: 1.5rem;
}

.speakers__list {
    list-style: none;
}

.spekaers__list--items {
    margin: 15% 0;
}

.speakers__names {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: larger;
    color: indianred;
}

.speakers__imgs--container {
    width: 8rem;
    margin: auto;
}

.speakers__imgs {
    width: 100%;
}