.schedule-section {
    text-align: center;
    padding: 5%;
}

.schedule-section__title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(82, 117, 82);
    text-decoration: underline;
    font-weight: lighter;
    font-size: 1.5rem;
}

.schedule-section__list {
    list-style: none;
}

.schedule-section__list--items {
    margin-top: 10%;
}

.schedule-section__names {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
}

.schedule-section__links {
    color: black;
}

/*------------------------------------------------------------------------------------*/

/*Tablet*/
@media (min-width: 1024px) and (max-width: 1366px) {
    .schedule-section__title {
        font-size: 2rem;
    }

    .schedule-section__list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 0;
    }

    .schedule-section__list--items {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-top: 5%;
    }

    .schedule-section__imgs {
        width: 50%;
    }
}