.tickets-section {
    padding: 5%;
}

.tickets__titles {
    color: rgb(82, 117, 82);
    text-decoration: underline;
    font-weight: lighter;
    font-size: 1.5rem;
    text-align: center;
}

.tickets__list {
    text-align: center;
    list-style: none;
}

.tickets__list-items {
    line-height: 5px;
    margin: 25% 0;
}

.get-tickets__button {
    border: rgba(206, 64, 64, 0.589) solid 2px;
    border-radius: 5px;
    color: rgba(206, 64, 64, 0.589);
    width: 13rem;
    padding: 3%;
}

.get-tickets {
    text-align: center;
}

.get-tickets__text-iva {
    font-size: small;
}